#review-feedback_reviews-section__XrH9r .review-feedback_reviewSection__9VlBr {
    -webkit-box-shadow: none;
    box-shadow: none;
    position: relative;
    padding: 10px;
    border-radius: 0 10px 0 0
}

.review-feedback_customerName__ozNXJ {
    overflow: hidden;
    margin-bottom: 5px !important
}

#review-feedback_reviews-section__XrH9r .review-feedback_MuiCard-root__3Pj2J {
    overflow: visible
}

.review-feedback_reviews-block__Tgj_F {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    overflow-x: scroll;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-y: hidden;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit
}

.review-feedback_reviewsLeft__1amC- {
    float: left;
    padding: 10px 0 0 10px
}

.review-feedback_reviewsLeft__1amC- .review-feedback_customerNameReview__DBX_f {
    font-size: 14px;
    font-weight: 500;
    color: #222;
    line-height: 1.2;
    padding: 6px 0 0 6px;
    text-align: center;
    font-style: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 60px
}

.review-feedback_reviewsLeft__1amC- .review-feedback_customer-first-letter__3kFbz {
    margin: -10px 5px 0 0;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500
}

.review-feedback_reviewSection__9VlBr .review-feedback_reviewsRight__3IttV {
    padding-top: 10px
}

.review-feedback_reviewSection__9VlBr .review-feedback_reviewsRightPadding__1gQqP {
    padding: 15px;
    overflow: hidden
}

.review-feedback_reviewBlock__3nf5e {
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    flex: 0 0 auto;
    width: 70%;
    display: inline-block;
    position: relative;
    border-radius: 0 10px 10px 10px;
    height: 95%;
    white-space: normal;
    margin: 0 14px;
    padding: 0;
    top: 0
}

@media only screen and (max-width:1024px) {
    .review-feedback_reviewBlock__3nf5e {
        min-height: 25vh
    }
}

.review-feedback_reviewSection__9VlBr .review-feedback_product-rating-pdp__LDtuS,
.review-feedback_reviewSection__9VlBr .review-feedback_product-rating-plp__3UHq0 {
    vertical-align: top;
    margin-right: 5px
}

.review-feedback_reviewSection__9VlBr .review-feedback_MuiCardContent-root__3_qlF:last-child,
.review-feedback_reviewSection__9VlBr .review-feedback_review__1rxG5 {
    padding: 15px 0 0
}

.review-feedback_reviewSection__9VlBr .review-feedback_customerName__ozNXJ,
.review-feedback_reviewSection__9VlBr .review-feedback_message__2WL6w {
    font-style: italic;
    font-size: 14px;
    font-weight: 500;
    color: #222;
    max-height: 33px;
    line-height: 1.2;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis
}

.review-feedback_reviewSection__9VlBr .review-feedback_reviewMessage__130dx {
    font-style: italic;
    font-size: 14px;
    font-weight: 500;
    color: #222;
    min-height: 33px;
    line-height: 1.2;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: -7px
}

.review-feedback_reviewSection__9VlBr .review-feedback_MuiTypography-body1__2ucdz {
    font-size: 14px
}

.review-feedback_reviewSection__9VlBr .review-feedback_deliveryDate__kzUKg {
    font-size: 14px;
    padding-top: 5px;
    color: #222
}

.review-feedback_reviewSection__9VlBr .review-feedback_reviewDeliveryDate__3nxk3 {
    font-size: 14px;
    font-weight: 500;
    color: #222;
    padding: 9px 0
}

.review-feedback_reviewSection__9VlBr .review-feedback_other-info__3mGIb {
    color: #555;
    font-size: 12px;
    margin: 5px 0
}

.review-feedback_reviewSection__9VlBr .review-feedback_product-rating-plp__3UHq0 {
    color: #feb614;
    font-size: 14px
}

.review-feedback_reviewSection__9VlBr .review-feedback_product-rating-pdp__LDtuS {
    color: #feb614;
    font-size: 18px
}

.review-feedback_reviewSection__9VlBr .review-feedback_stars-plp__3SI4Y {
    font-size: 14px
}

.review-feedback_reviewSection__9VlBr .review-feedback_stars-plp__3SI4Y .MuiRating-iconEmpty {
    color: #feb614
}

.review-feedback_reviewSection__9VlBr .review-feedback_stars-pdp__39PEq {
    font-size: 16px;
    vertical-align: middle
}

.review-feedback_reviewSection__9VlBr .review-feedback_stars-pdp__39PEq .MuiRating-iconEmpty {
    color: #feb614
}

.review-feedback_all-review__zW3IG {
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    min-height: 25vh
}

.review-feedback_reviewBlock__3nf5e .review-feedback_see-more__2W3mB {
    margin: 0;
    padding-bottom: 0
}

.review-feedback_see-more__2W3mB a {
    padding: 0
}

.review-feedback_reviewHeading__2sKFI {
    font-size: 16px;
    margin-left: 0;
    margin-top: 1rem;
    margin-bottom: 1rem
}

#review-feedback_reviews-section__XrH9r {
    padding: 0 1rem 15px
}

.review-feedback_reviewBlock__3nf5e.review-feedback_desktopReview__2ZMEH {
    height: 180px;
    float: left
}

@media(max-width:768px)and (min-width:454px) {
    .review-feedback_reviewBlock__3nf5e.review-feedback_mobileReview__3PEA3 {
        width: 50%;
        height: 20vw;
        margin-bottom: 10px
    }
}

@media(max-width:455px)and (min-width:411px) {
    .review-feedback_delivery-area__3hFlG,
    .review-feedback_occassion__3BXYw {
        max-height: 8vw
    }
    .review-feedback_reviewBlock__3nf5e.review-feedback_mobileReview__3PEA3 {
        width: 67vw;
        height: 34vw;
        margin-bottom: 10px
    }
}

@media(max-width:412px)and (min-width:374px) {
    .review-feedback_delivery-area__3hFlG,
    .review-feedback_occassion__3BXYw {
        max-height: 8vw
    }
    .review-feedback_reviewBlock__3nf5e.review-feedback_mobileReview__3PEA3 {
        width: 67vw;
        height: 35vw;
        margin-bottom: 10px
    }
}

@media(max-width:375px)and (min-width:359px) {
    .review-feedback_delivery-area__3hFlG,
    .review-feedback_occassion__3BXYw {
        max-height: 8.7vw
    }
    .review-feedback_reviewBlock__3nf5e.review-feedback_mobileReview__3PEA3 {
        width: 67vw;
        height: 46vw;
        margin-bottom: 10px
    }
}

@media(max-width:1280px)and (min-width:480px) {
    .review-feedback_reviewBlock__3nf5e {
        min-height: 18vh
    }
}

@media(max-width:1280px)and (min-width:359px) {
    .review-feedback_reviewBlock__3nf5e:before {
        content: "";
        position: absolute;
        border: 20px solid transparent;
        border-right-color: #f7f7f7;
        border-left: 0;
        border-top: 0;
        margin-left: -18px
    }
    .review-feedback_reviewBlock__3nf5e {
        background: #f7f7f7
    }
}

@media(max-width:320px) {
    #review-feedback_reviews-section__XrH9r .review-feedback_customerName__ozNXJ,
    #review-feedback_reviews-section__XrH9r .review-feedback_delivery-date__fUvZm,
    #review-feedback_reviews-section__XrH9r .review-feedback_deliveryDate__kzUKg,
    #review-feedback_reviews-section__XrH9r .review-feedback_message__2WL6w {
        font-size: .8rem
    }
    #review-feedback_reviews-section__XrH9r .review-feedback_delivery-area__3hFlG,
    #review-feedback_reviews-section__XrH9r .review-feedback_occasion__2d_Ci {
        font-size: .6rem
    }
}

@media(max-width:360px)and (min-width:319px) {
    #review-feedback_reviews-section__XrH9r .review-feedback_delivery-area__3hFlG,
    #review-feedback_reviews-section__XrH9r .review-feedback_occasion__2d_Ci {
        max-height: 8.7vw
    }
}

.review-feedback_customer-first-letter__3kFbz.review-feedback_A__2I_bk,
.review-feedback_customer-first-letter__3kFbz.review-feedback_a__34a_0 {
    background: #e06055
}

.review-feedback_customer-first-letter__3kFbz.review-feedback_b__3U2Lj,
.review-feedback_customer-first-letter__3kFbz.review-feedback_B__3up7i {
    background: #57bb8a
}

.review-feedback_customer-first-letter__3kFbz.review-feedback_c__2N1x4,
.review-feedback_customer-first-letter__3kFbz.review-feedback_C__JkBpD {
    background: #9fa8da
}

.review-feedback_customer-first-letter__3kFbz.review-feedback_d__1SS9_,
.review-feedback_customer-first-letter__3kFbz.review-feedback_D__2sd_1 {
    background: #a1887f
}

.review-feedback_customer-first-letter__3kFbz.review-feedback_e__1oZ5l,
.review-feedback_customer-first-letter__3kFbz.review-feedback_E__3FyXY {
    background: #ff8a65
}

.review-feedback_customer-first-letter__3kFbz.review-feedback_f__2c94q,
.review-feedback_customer-first-letter__3kFbz.review-feedback_F__3gsHy {
    background: #57bb8a
}

.review-feedback_customer-first-letter__3kFbz.review-feedback_G__1PfVb,
.review-feedback_customer-first-letter__3kFbz.review-feedback_g__2Kq4c {
    background: #9ccc65
}

.review-feedback_customer-first-letter__3kFbz.review-feedback_H__1AjaZ,
.review-feedback_customer-first-letter__3kFbz.review-feedback_h__1M-au {
    background: #4fc3f7
}

.review-feedback_customer-first-letter__3kFbz.review-feedback_I__1zFqn,
.review-feedback_customer-first-letter__3kFbz.review-feedback_i__yU9Mx {
    background: #9e9e9e
}

.review-feedback_customer-first-letter__3kFbz.review-feedback_j__2pFxV,
.review-feedback_customer-first-letter__3kFbz.review-feedback_J__3IXPv {
    background: #4db6ac
}

.review-feedback_customer-first-letter__3kFbz.review-feedback_k__11xz0,
.review-feedback_customer-first-letter__3kFbz.review-feedback_K__qEfWJ {
    background: #5e97f6
}

.review-feedback_customer-first-letter__3kFbz.review-feedback_L__1MSO8,
.review-feedback_customer-first-letter__3kFbz.review-feedback_l__2mHDs {
    background: #9fa8da
}

.review-feedback_customer-first-letter__3kFbz.review-feedback_m__2thKS,
.review-feedback_customer-first-letter__3kFbz.review-feedback_M__23RdZ {
    background: #ff8a65
}

.review-feedback_customer-first-letter__3kFbz.review-feedback_N__35vem,
.review-feedback_customer-first-letter__3kFbz.review-feedback_n__321bI {
    background: #4dd0e1
}

.review-feedback_customer-first-letter__3kFbz.review-feedback_o__3SAfW,
.review-feedback_customer-first-letter__3kFbz.review-feedback_O__Ctk5s {
    background: #7986cb
}

.review-feedback_customer-first-letter__3kFbz.review-feedback_P__1Bb-v,
.review-feedback_customer-first-letter__3kFbz.review-feedback_p__3LKJj {
    background: #57bb8a
}

.review-feedback_customer-first-letter__3kFbz.review-feedback_Q__3suQ5,
.review-feedback_customer-first-letter__3kFbz.review-feedback_q__TEkEn {
    background: #5e97f6
}

.review-feedback_customer-first-letter__3kFbz.review-feedback_R__1Z0Vk,
.review-feedback_customer-first-letter__3kFbz.review-feedback_r__2K0gl {
    background: #f6bf26
}

.review-feedback_customer-first-letter__3kFbz.review-feedback_S__2H4wg,
.review-feedback_customer-first-letter__3kFbz.review-feedback_s__2xU9T {
    background: #f06292
}

.review-feedback_customer-first-letter__3kFbz.review-feedback_T__2qB_h,
.review-feedback_customer-first-letter__3kFbz.review-feedback_t__3O2Z- {
    background: #2197cb
}

.review-feedback_customer-first-letter__3kFbz.review-feedback_U___b8lz,
.review-feedback_customer-first-letter__3kFbz.review-feedback_u__SExcW {
    background: #ad49f3
}

.review-feedback_customer-first-letter__3kFbz.review-feedback_V__3UJiy,
.review-feedback_customer-first-letter__3kFbz.review-feedback_v__21rHQ {
    background: #4961f3
}

.review-feedback_customer-first-letter__3kFbz.review-feedback_w__1CQf6,
.review-feedback_customer-first-letter__3kFbz.review-feedback_W__behL5 {
    background: #0ab2c6
}

.review-feedback_customer-first-letter__3kFbz.review-feedback_x__1b0Ld,
.review-feedback_customer-first-letter__3kFbz.review-feedback_X__1r_AC {
    background: #98c60a
}

.review-feedback_customer-first-letter__3kFbz.review-feedback_y__3z3Iv,
.review-feedback_customer-first-letter__3kFbz.review-feedback_Y__35PbI {
    background: #c6630a
}

.review-feedback_customer-first-letter__3kFbz.review-feedback_Z__2W_Wg,
.review-feedback_customer-first-letter__3kFbz.review-feedback_z__rRFvP {
    background: #c6360a
}

.desktop-product-listing_productListingWrapper__CLUiH {
    background: #fff;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    margin-bottom: 15px;
    padding-bottom: 15px;
    width: 100%
}

.desktop-product-listing_productListingWrapper__CLUiH .MuiPaper-elevation1 {
    -webkit-box-shadow: none;
    box-shadow: none
}

.desktop-product-listing_productListingWrapper__CLUiH .desktop-product-listing_productListing__RnB3k {
    width: 100%;
    max-width: 1366px;
    padding: 0 35px;
    margin: 0 auto
}

.desktop-product-listing_productListingWrapper__CLUiH .desktop-product-listing_productListing__RnB3k h3.desktop-product-listing_suggestions__10Ppk {
    font-size: 22px;
    color: #222;
    font-weight: 500;
    text-transform: capitalize;
    margin-left: 0;
    padding: 20px 0 5px;
    margin-bottom: 0;
    line-height: 1.4;
    text-align: left
}

.desktop-product-listing_productListingWrapper__CLUiH .desktop-product-listing_productListing__RnB3k h3.desktop-product-listing_reviewHeading__17Hhq {
    padding: 20px 0
}

.desktop-product-listing_productListingWrapper__CLUiH .desktop-product-listing_productListing__RnB3k .desktop-product-listing_reviewSection__1LqH9 {
    margin: 0 0 20px
}

.desktop-product-listing_productListingWrapper__CLUiH .desktop-product-listing_productListing__RnB3k .desktop-product-listing_productSection__3NxRd {
    margin-top: 5px
}

.desktop-product-listing_productListingWrapper__CLUiH .desktop-product-listing_productListing__RnB3k .desktop-product-listing_productSection__3NxRd .desktop-product-listing_listing__3OOFA {
    width: 100%;
    max-width: 1366px;
    padding: 0 35px;
    margin: 0 auto
}

.desktop-product-listing_productListingWrapper__CLUiH .desktop-product-listing_recentListing__YAj-E {
    padding: 0
}

.desktop-product-listing_productListingWrapper__CLUiH .desktop-product-listing_recentListing__YAj-E h3.desktop-product-listing_suggestions__10Ppk {
    margin-left: 35px
}

.desktop-product-listing_productListingWrapper__CLUiH .desktop-product-listing_recentList__Z1_z9 .desktop-product-listing_listing__3OOFA {
    background: #fff;
    overflow: hidden
}

.desktop-product-listing_productListingWrapper__CLUiH .desktop-product-listing_recentList__Z1_z9 .desktop-product-listing_productItem__1pLSP {
    width: 100%;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.desktop-product-listing_productListingWrapper__CLUiH.desktop-product-listing_reviewWrapper__3ZoUH {
    min-height: 210px
}

.desktop-product-listing_productListingWrapper__CLUiH.desktop-product-listing_reviewWrapper__3ZoUH .slick-slide {
    width: 399px;
    max-width: 425px
}

.desktop-product-listing_productListingWrapper__CLUiH .desktop-product-listing_productItem__1pLSP {
    width: 100%;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 8px
}

.desktop-product-listing_listing__3OOFA .slick-arrow {
    height: 60px;
    width: 30px;
    background: #f2f2f2;
    border-radius: 0;
    -webkit-box-shadow: -2px 0 4px rgba(0, 0, 0, .3);
    box-shadow: -2px 0 4px rgba(0, 0, 0, .3);
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    color: #b8b8b8;
    font-size: 20px;
    display: inline-block;
    margin: 0;
    z-index: 99;
    top: 48%
}

.desktop-product-listing_listing__3OOFA .slick-arrow.slick-prev {
    left: -35px
}

.desktop-product-listing_listing__3OOFA .slick-arrow.slick-prev.slick-disabled,
.desktop-product-listing_listing__3OOFA .slick-arrow.slick-prev:before {
    display: none
}

.desktop-product-listing_listing__3OOFA .slick-arrow.slick-prev:after {
    width: 16px;
    height: 20px;
    background: url(https://uat-i7.fnp.com/assets/images/iconSpriteArrows.png) no-repeat;
    background-position: -578px -47px;
    position: absolute;
    content: "";
    top: 13px;
    left: 5px
}

.desktop-product-listing_listing__3OOFA .slick-arrow.slick-prev:hover {
    background: #515151
}

.desktop-product-listing_listing__3OOFA .slick-arrow.slick-prev:hover:after {
    background-position: -606px -47px
}

.desktop-product-listing_listing__3OOFA .slick-arrow.slick-next {
    right: -35px
}

.desktop-product-listing_listing__3OOFA .slick-arrow.slick-next.slick-disabled,
.desktop-product-listing_listing__3OOFA .slick-arrow.slick-next:before {
    display: none
}

.desktop-product-listing_listing__3OOFA .slick-arrow.slick-next:after {
    width: 16px;
    height: 20px;
    background: url(https://uat-i7.fnp.com/assets/images/iconSpriteArrows.png) no-repeat;
    background-position: -592px -47px;
    position: absolute;
    content: "";
    top: 13px;
    left: 6px
}

.desktop-product-listing_listing__3OOFA .slick-arrow.slick-next:hover {
    background: #515151
}

.desktop-product-listing_listing__3OOFA .slick-arrow.slick-next:hover:after {
    background-position: -621px -47px
}

.desktop-product-listing_see-more__2HIwI {
    color: #2178cf;
    font-size: 14px
}

.desktop-product-listing_see-more__2HIwI .desktop-product-listing_arrow-right__Dko4V {
    margin-left: -5px;
    width: 22px;
    height: auto
}

.desktop-product-listing_view-all__15Oz8 {
    vertical-align: super
}

.desktop-product-listing_all-review__UDxEX {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    width: 240px;
    height: 180px;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    cursor: pointer
}

/*# sourceMappingURL=3944.css.map*/