.modal-popup_modalPopupContainer__3LpLu {
    opacity: 1;
    -webkit-flex: 0 1 auto;
    -moz-box-flex: 0;
    flex: 0 1 auto;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    position: relative;
    max-height: 90vh;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    width: 100%;
    margin: 0;
    height: 100%;
    max-width: 100%;
    max-height: 100%
}

.modal-popup_modalPopupContainer__3LpLu .modal-popup_modalInner__2llnp {
    max-height: 50%;
    display: block;
    border-radius: 8px;
    color: #222;
    position: absolute;
    top: auto;
    bottom: 0;
    background: #fff;
    border-radius: 20px 20px 0 0;
    width: 100%;
    text-align: center;
    animation: modal-popup_myship__3-t65 .3s;
    -moz-animation: modal-popup_myship__3-t65 .3s;
    -webkit-animation: modal-popup_myship__3-t65 .3s
}

.modal-popup_modalPopupContainer__3LpLu .modal-popup_modalInner__2llnp.modal-popup_popup-msg-height__1JBNR {
    max-width: 411px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%)
}

.modal-popup_modalPopupContainer__3LpLu .modal-popup_modalInner__2llnp .modal-popup_modalPopupHeader__2i1rt {
    font-size: 16px;
    height: 50px;
    width: 100%;
    font-weight: 500;
    padding: 15px;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    text-align: left;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    color: #222
}

.modal-popup_modalPopupContainer__3LpLu .modal-popup_modalInner__2llnp .modal-popup_modalPopupHeader__2i1rt .modal-popup_crossIcon__2-ns3 {
    margin-left: auto
}

.modal-popup_modalPopupContainer__3LpLu .modal-popup_modalInner__2llnp .modal-popup_modalPopupHeader__2i1rt .modal-popup_crossIcon__2-ns3 svg {
    width: 24px;
    height: 24px;
    color: #555
}

.modal-popup_modalPopupContainer__3LpLu .modal-popup_modalInner__2llnp .modal-popup_modalBody__2_jmY {
    width: 100%;
    overflow-x: hidden;
    display: block;
    text-align: left;
    max-height: 80vh;
    padding: 0 12px;
    margin-bottom: 16px
}

.modal-popup_modalPopupContainer__3LpLu .modal-popup_desktopModalInner__2xY3k {
    display: block;
    border-radius: 8px 8px;
    color: #222;
    position: fixed;
    top: 15.4%;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    transform: translate(-50%);
    left: 50%;
    right: 0;
    overflow-x: auto;
    z-index: 99999;
    background: #fff;
    max-height: -moz-calc(100% - 254px);
    max-height: calc(100% - 254px);
    overflow: auto;
    width: 380px;
    text-align: center
}

.modal-popup_modalPopupContainer__3LpLu .modal-popup_desktopModalInner__2xY3k .modal-popup_modalPopupHeader__2i1rt {
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    color: #222;
    position: relative;
    margin: 4px auto;
    height: 51px;
    width: 100%;
    padding: 14px 20px;
    display: block;
    border-bottom: 1px solid #999
}

.modal-popup_modalPopupContainer__3LpLu .modal-popup_desktopModalInner__2xY3k .modal-popup_modalPopupHeader__2i1rt .modal-popup_crossIcon__2-ns3 {
    margin-left: auto;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 11px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #555
}

.modal-popup_modalPopupContainer__3LpLu .modal-popup_desktopModalInner__2xY3k .modal-popup_modalBody__2_jmY {
    width: 100%;
    overflow-x: hidden;
    display: block;
    text-align: left;
    height: -moz-calc(100% - 50px);
    height: calc(100% - 50px);
    max-height: 325px
}

.modal-popup_modalPopupContainer__3LpLu .modal-popup_desktopModalInner__2xY3k.modal-popup_popup-msg-height__1JBNR {
    width: 280px
}

.modal-popup_modalPopupContainer__3LpLu.modal-popup_modifyOrderHeader__2ScWn {
    height: 333px;
    border-radius: 8px
}

.modal-popup_modalPopupContainer__3LpLu.modal-popup_popup-msg-height__1JBNR {
    height: 220px;
    border-radius: 8px
}

.modal-popup_modalPopupContainer__3LpLu.modal-popup_autoHeightCenter__3AVjR {
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center
}

.modal-popup_modalPopupContainer__3LpLu.modal-popup_autoHeightCenter__3AVjR .modal-popup_modalInner__2llnp {
    max-height: 90vh;
    height: auto;
    width: 90%;
    position: unset;
    bottom: unset;
    margin: 0 auto;
    border-radius: 4px;
    -webkit-box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2), 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12);
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2), 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12)
}

.modal-popup_modalPopupContainer__3LpLu.modal-popup_autoHeightCenter__3AVjR .modal-popup_modalInner__2llnp .modal-popup_modalPopupHeader__2i1rt {
    background: #f2f2f2;
    border-radius: 4px 4px 0 0;
    border-bottom: none;
    font-size: 1.4rem;
    cursor: pointer;
    text-align: center;
    color: #0a0a0a;
    font-weight: 400;
    position: relative;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center
}

.modal-popup_modalPopupContainer__3LpLu.modal-popup_autoHeightCenter__3AVjR .modal-popup_modalInner__2llnp .modal-popup_modalPopupHeader__2i1rt span {
    margin-left: auto;
    position: absolute;
    right: 15px;
    top: 15px
}

.modal-popup_modalPopupContainer__3LpLu.modal-popup_autoHeightCenter__3AVjR .modal-popup_modalInner__2llnp .modal-popup_modalBody__2_jmY {
    padding: 0
}

@keyframes modal-popup_myship__3-t65 {
    0% {
        bottom: -37%
    }
    to {
        bottom: 0
    }
}

@-moz-keyframes modal-popup_myship__3-t65 {
    0% {
        bottom: -37%
    }
    to {
        bottom: 0
    }
}

@-webkit-keyframes modal-popup_myship__3-t65 {
    0% {
        bottom: -37%
    }
    to {
        bottom: 0
    }
}

.product-combos_desktopProductEdit__2mAb_ {
    margin: 0 0 0 10px;
    position: absolute;
    right: 0;
    top: 10px;
    cursor: pointer;
    pointer-events: auto
}

.product-combos_desktopProductEdit__2mAb_ svg {
    font-size: 14px
}

.product-combos_desktopProductEdit__2mAb_.product-combos_noVariant__2UWi_ {
    position: inherit;
    right: auto;
    top: auto;
    margin-left: 3px
}

.product-combos_desktopProductEdit__2mAb_ .product-combos_closeIcon__c0Xzh {
    cursor: pointer;
    color: #555
}

.product-combos_mobileProductEdit__1V3_w {
    margin: 0
}

.product-combos_comboProduct__3CZdz {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    border-bottom: 1px solid #999;
    padding: 13px 20px;
    cursor: pointer
}

.product-combos_comboProduct__3CZdz.product-combos_mcomboProduct__2Wzai {
    border-bottom: 1px solid #555;
    padding: 13px 0 0
}

.product-combos_comboProductImage__3uN4u {
    width: 75px;
    height: 75px;
    margin-bottom: 3px
}

.product-combos_comboProductImage__3uN4u img {
    width: 75px;
    height: 75px
}

.product-combos_comboProductDescription__YVuOn {
    margin-left: 20px;
    font-size: 14px;
    color: #3d3d3d
}

.product-combos_comboProductDescription__YVuOn .product-combos_productText__25tjm {
    cursor: pointer;
    text-transform: capitalize
}

.product-combos_comboProductDescription__YVuOn .product-combos_productText__25tjm.product-combos_mProductText__3c5jw {
    font-size: 16px;
    font-weight: 400
}

.product-combos_productPrice__25idj {
    margin-top: 6px;
    color: #222;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer
}

.product-combos_productPrice__25idj.product-combos_mproductPrice__2duVr {
    font-size: 16px
}

.product-combos_priceWrap__77Vab {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center
}

.product-combos_priceSymbol__1pYZT {
    display: inline-block;
    font-family: Roboto, sans-serif;
    margin-right: 5px;
    vertical-align: bottom;
    margin-top: 0;
    color: #222;
    font-size: 16px
}

.product-combos_offPrice__1kd45 {
    display: block
}

.product-combos_listPrice__kusYc {
    text-decoration: line-through;
    color: #555;
    font-size: 16px;
    cursor: pointer
}

.product-combos_percentOff__2lmHC {
    margin-left: 10px;
    color: #008539;
    cursor: pointer;
    font-weight: 500
}

.product-combos_comboMessage__23Y5N {
    padding: 15px 0;
    text-align: center;
    max-width: 310px;
    margin: 0 auto
}

.product-combos_comboMessage__23Y5N p {
    color: #555;
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
    margin: auto;
    padding: 8px 38px 0;
    font-family: Roboto, Helvetica, Arial, sans-serif
}

.product-combos_comboMessage__23Y5N.product-combos_mcomboMessage__3oBuz {
    max-width: 391px;
    padding: 20px 0 0
}

.product-combos_comboMessage__23Y5N.product-combos_mcomboMessage__3oBuz p {
    padding: 0;
    font-size: 18px;
    margin: 10px 5px;
    font-weight: 200;
    line-height: 1.9;
    color: #222
}

.product-combos_actionButtons__2ui44 {
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    flex: 0 0 auto;
    margin: 0;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center;
    border-radius: 8px;
    padding: 10px 0
}

.product-combos_actionButtons__2ui44 div {
    width: 100%;
    margin: 0
}

.product-combos_actionButtons__2ui44 button {
    display: inline-block;
    margin: 16px 10px 0;
    padding: 10px 5px;
    border: 1px solid #999;
    border-radius: 4px;
    text-align: center;
    min-width: 37%;
    text-transform: uppercase;
    background: #fff;
    cursor: pointer
}

.product-combos_actionButtons__2ui44 button span {
    font-size: 13px
}

.product-combos_actionButtons__2ui44 button.product-combos_mcomboButton__1rb7B {
    padding: 10px 5px;
    min-width: 27%;
    margin: 10px 10px 0
}

.product-combos_actionButtons__2ui44 button.product-combos_mcomboButton__1rb7B span {
    font-size: 16px
}

/*# sourceMappingURL=4508.css.map*/