.price-with-name_priceWithName__3i1kV {
    margin-top: -44px;
    text-align: left;
    width: 100%;
    padding-bottom: 0;
    padding-top: 10px;
    display: inline-block;
    background: #fff;
    border-radius: 10px 10px 0 0
}

.price-with-name_priceWithName__3i1kV .price-with-name_productTotalReviews__2iUeG {
    display: block
}

.price-with-name_priceWithName__3i1kV .price-with-name_productTotalReviews__2iUeG .price-with-name_productTitleAndRatings__2S4-V {
    width: 100%;
    padding-left: 12px;
    text-align: left;
    padding-top: 6px
}

.price-with-name_priceWithName__3i1kV .price-with-name_productTotalReviews__2iUeG .price-with-name_productTitleAndRatings__2S4-V .price-with-name_productRatings__2DvLF {
    color: #feb614;
    width: 100%;
    margin-top: 10px;
    position: relative
}

.price-with-name_priceWithName__3i1kV .price-with-name_productTotalReviews__2iUeG .price-with-name_productTitleAndRatings__2S4-V .price-with-name_productRatings__2DvLF .price-with-name_productRatingBadge__1J2g5 {
    padding: 3px 5px;
    border-radius: 4px;
    font-size: 14px;
    background-color: #008539;
    display: inline-block;
    color: #fff;
    margin-right: 5px;
    font-weight: 600
}

.price-with-name_priceWithName__3i1kV .price-with-name_productTotalReviews__2iUeG .price-with-name_productTitleAndRatings__2S4-V .price-with-name_productRatings__2DvLF .price-with-name_productRatingBadge__1J2g5 .price-with-name_ratingStars__3k34A {
    display: inline-block;
    position: relative;
    margin-left: 4px;
    font-size: 14px;
    width: 14px;
    height: 14px;
    top: 2px
}

.price-with-name_priceWithName__3i1kV .price-with-name_productTotalReviews__2iUeG .price-with-name_productTitleAndRatings__2S4-V .price-with-name_productRatings__2DvLF .price-with-name_productRatingBadge__1J2g5 .price-with-name_ratingStars__3k34A svg {
    width: 14px;
    height: 14px
}

.price-with-name_priceWithName__3i1kV .price-with-name_productTotalReviews__2iUeG .price-with-name_reviewsCount__2eZP_ {
    display: inline;
    color: #2178cf;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 400
}

.price-with-name_priceWithName__3i1kV .price-with-name_productTotalReviews__2iUeG .price-with-name_reviewsCount__2eZP_ span {
    padding: 0 0 0 2px
}

.price-with-name_priceWithName__3i1kV .price-with-name_productTotalReviews__2iUeG .price-with-name_productTitle__2NI1Y {
    font-size: 1rem;
    font-weight: 400;
    padding-right: 12px;
    margin-bottom: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #3d3d3d
}

.price-with-name_priceWithName__3i1kV .price-with-name_productTotalReviews__2iUeG .price-with-name_withRate__21waP {
    font-size: 18px;
    padding-top: 3px
}

.price-with-name_priceWithName__3i1kV .price-with-name_productTotalReviews__2iUeG .price-with-name_productPricing__2_bcH {
    width: 100%;
    padding-left: 12px;
    color: #222;
    font-weight: 300;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative
}

.price-with-name_priceWithName__3i1kV .price-with-name_productTotalReviews__2iUeG .price-with-name_productPricing__2_bcH .price-with-name_priceValue__YVOzq {
    margin-right: 1%;
    font-size: 24px;
    color: #222;
    font-weight: 500;
    position: relative
}

.price-with-name_priceWithName__3i1kV .price-with-name_productTotalReviews__2iUeG .price-with-name_productPricing__2_bcH .price-with-name_priceValue__YVOzq .price-with-name_surgeIcon__1EOky {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    right: -31px;
    position: absolute
}

.price-with-name_priceWithName__3i1kV .price-with-name_productTotalReviews__2iUeG .price-with-name_productPricing__2_bcH .price-with-name_priceValue__YVOzq .price-with-name_surgeIcon__1EOky i.material-icons {
    font-size: 24px;
    -webkit-transform: rotate(23deg);
    -moz-transform: rotate(23deg);
    transform: rotate(23deg);
    color: #f69132
}

.price-with-name_priceWithName__3i1kV .price-with-name_productTotalReviews__2iUeG .price-with-name_productPricing__2_bcH .price-with-name_crossPrice__3lqAS {
    top: 0;
    position: relative;
    font-size: 14px;
    color: #e03131;
    margin-left: 7px;
    display: inline-block;
    text-align: left;
    margin-right: 3%
}

.price-with-name_priceWithName__3i1kV .price-with-name_productTotalReviews__2iUeG .price-with-name_productPricing__2_bcH .price-with-name_crossPrice__3lqAS .price-with-name_crossPriceSymbol__2ZDQt {
    text-decoration: line-through;
    font-size: 18px;
    margin-top: 0;
    margin-right: 2px;
    display: inline-block;
    font-family: Roboto, sans-serif;
    vertical-align: top;
    color: #555;
    font-weight: 500
}

.price-with-name_priceWithName__3i1kV .price-with-name_productTotalReviews__2iUeG .price-with-name_productPricing__2_bcH .price-with-name_crossPrice__3lqAS .price-with-name_crossPriceSymbol__2ZDQt:before {
    content: "";
    position: relative;
    font-size: 13px;
    width: 12px;
    height: 12px
}

.price-with-name_priceWithName__3i1kV .price-with-name_productTotalReviews__2iUeG .price-with-name_productPricing__2_bcH .price-with-name_crossPrice__3lqAS .price-with-name_oldPrice__3Hovl {
    vertical-align: top;
    text-decoration: line-through;
    font-weight: 500;
    font-size: 18px;
    color: #555
}

.price-with-name_priceWithName__3i1kV .price-with-name_productTotalReviews__2iUeG .price-with-name_productPricing__2_bcH .price-with-name_crossPrice__3lqAS .price-with-name_offPrice__1XeIq {
    position: relative;
    top: 2px;
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;
    color: #008539
}

.price-with-name_priceWithName__3i1kV .price-with-name_productTotalReviews__2iUeG .price-with-name_productPricing__2_bcH .price-with-name_crossPrice__3lqAS .price-with-name_offPrice__1XeIq .price-with-name_offerPriceSymbol__2hb3V {
    font-size: 16px;
    text-decoration: none;
    padding: 0 0 0 2px;
    margin: 0 2px
}

.price-with-name_priceWithName__3i1kV .price-with-name_productTotalReviews__2iUeG .price-with-name_productPricing__2_bcH .price-with-name_surgeInfoWrapper__axvkX {
    position: relative;
    display: none
}

.price-with-name_priceWithName__3i1kV .price-with-name_productTotalReviews__2iUeG .price-with-name_productPricing__2_bcH .price-with-name_surgeInfoWrapper__axvkX:after {
    content: "";
    display: block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    position: absolute;
    z-index: 1;
    -webkit-filter: drop-shadow(0 3px 2px #ddd);
    filter: drop-shadow(0 3px 2px #ddd);
    bottom: 13px;
    right: -27px
}

.price-with-name_priceWithName__3i1kV .price-with-name_productTotalReviews__2iUeG .price-with-name_productPricing__2_bcH .price-with-name_surgeInfoWrapper__axvkX .price-with-name_surgeInfoTooltip__3A_w1 {
    font-size: 14px;
    padding: 7px 10px 10px;
    text-align: left;
    top: -75px;
    height: 53px;
    left: -50px;
    z-index: 1;
    background: #fff;
    position: absolute;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    line-height: 20px;
    border-radius: 4px;
    font-weight: 400;
    width: 205px;
    overflow-wrap: break-word;
    overflow: hidden
}

.price-with-name_priceWithName__3i1kV .price-with-name_productTotalReviews__2iUeG .price-with-name_productPricing__2_bcH .price-with-name_priceSymbol__eZPs0 {
    margin-top: 0;
    display: inline-block;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-right: 5px;
    vertical-align: top;
    color: #222
}

.price-with-name_priceWithName__3i1kV .price-with-name_productTotalReviews__2iUeG .price-with-name_productPricing__2_bcH .price-with-name_taxInclusive__37pm8 {
    width: 100%;
    font-size: 12px;
    clear: both;
    display: block;
    line-height: 0px;
    padding: 0;
    margin: 0 0 16px
}

.price-with-name_priceWithName__3i1kV .price-with-name_toast-fade-out__32Agy {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s 2s, opacity 2s linear;
    -moz-transition: visibility 0s 2s, opacity 2s linear;
    transition: visibility 0s 2s, opacity 2s linear
}

.price-with-name_priceWithName__3i1kV .price-with-name_mt20__1W-Ef {
    margin-top: 22px
}

.price-with-name_priceWithName__3i1kV .price-with-name_mt50__3QffO {
    margin-top: 50px
}

.price-with-name_priceWithName__3i1kV .price-with-name_setMargin__7sWpy {
    margin: 8px 0 13px
}

.price-with-name_offerAvailableBox__2lT4T {
    position: absolute;
    top: -40px;
    right: 0
}

.price-with-name_offerButtonWrapper__3MQS2 {
    width: 140px;
    position: absolute;
    right: 0;
    top: 0
}

.price-with-name_offerButtonWrapper__3MQS2 .price-with-name_offersAvailableButton__2X3f3 {
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: inline-flex;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    width: 128px;
    min-height: 24px;
    background-color: #555;
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
    padding: 2px;
    cursor: pointer;
    float: left;
    left: unset;
    bottom: unset;
    position: unset;
    height: 24px;
    font-weight: 500
}

.price-with-name_offerButtonWrapper__3MQS2 .price-with-name_offersAvailableButton__2X3f3 .price-with-name_offerText__1tMgC {
    width: 138px;
    height: 25px;
    line-height: 25px
}

.price-with-name_offerButtonWrapper__3MQS2 .price-with-name_offersAvailableButton__2X3f3 .price-with-name_offerIcon__38mJb {
    padding-right: 3px;
    margin-left: 2px;
    width: 26px;
    height: 20px;
    position: relative;
    top: -2px
}

.price-with-name_offerButtonWrapper__3MQS2 .price-with-name_offersAvailableButton__2X3f3 .price-with-name_offerIcon__38mJb svg {
    width: 100%
}

.price-with-name_offerButtonWrapper__3MQS2 .price-with-name_offersAvailableButton__2X3f3 .price-with-name_expandMoreIcon__3Zbh9 {
    width: 29px;
    height: 20px;
    position: relative;
    top: -3px
}

.price-with-name_offerButtonWrapper__3MQS2 .price-with-name_offersAvailableButton__2X3f3 .price-with-name_expandMoreIcon__3Zbh9 svg {
    width: 100%
}

.price-with-name_offerButtonWrapperDesktop__2dIqP {
    right: unset;
    bottom: 4px;
    position: absolute;
    top: unset
}

.price-with-name_hideElement__2iaYm {
    display: none
}

.gifts-you-may-like_mobileVariants__5I4bK {
    padding: 0 10px;
    margin-right: 0;
    background: #fff
}

.gifts-you-may-like_pickUpgrade__13m2Q {
    color: #3d3d3d;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 10px
}

.gifts-you-may-like_variantScroll__2SRdI {
    width: 100%;
    overflow-x: scroll;
    display: grid;
    grid-auto-columns: 100px;
    grid-auto-flow: column;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    margin: auto
}

.gifts-you-may-like_variantItem__2R_JO {
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    display: inline-block;
    width: 75px;
    border-radius: 4px;
    text-align: left;
    color: #222
}

.gifts-you-may-like_variantItem__2R_JO .gifts-you-may-like_mobileVariantDetails__3PjRS {
    padding: 5px
}

.gifts-you-may-like_variantGiftImage__191Pl {
    min-height: 75px;
    width: 100%;
    overflow: hidden
}

.gifts-you-may-like_variantGiftImage__191Pl img {
    border-radius: 0;
    max-width: 100%;
    border-style: none
}

.gifts-you-may-like_activeVariant__3VKUJ {
    cursor: pointer;
    pointer-events: none
}

.gifts-you-may-like_activeVariant__3VKUJ img {
    border: 2px solid #7d8035
}

.gifts-you-may-like_inActiveVariant__3esE2 {
    cursor: default;
    border: 2px solid #d5d5d5
}

.gifts-you-may-like_variantDetails__10rAO {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    text-align: left;
    padding: 5px
}

.gifts-you-may-like_variantTitle__q4BBA {
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    text-transform: capitalize;
    display: inline-block;
    color: #555
}

.gifts-you-may-like_variantPrice__1oXDu {
    font-size: 14px;
    color: #222;
    font-weight: 500
}

.gifts-you-may-like_variantPrice__1oXDu .gifts-you-may-like_priceSymbol__8ROc1 {
    font-size: 14px;
    position: relative;
    top: 0;
    margin-right: 2px
}

.gifts-you-may-like_desktopVariantItem__1aNr1 {
    padding: 0 0 15px;
    margin-right: 0;
    background: #fff
}

.gifts-you-may-like_desktopVariantItem__1aNr1 .gifts-you-may-like_variantGiftImage__191Pl {
    height: 75px;
    width: 75px;
    cursor: pointer
}

.gifts-you-may-like_desktopVariantItem__1aNr1 .gifts-you-may-like_variantGiftImage__191Pl img {
    border-radius: 0
}

.gifts-you-may-like_desktopVariantItem__1aNr1 .gifts-you-may-like_variant__Y4aoY {
    cursor: pointer
}

.gifts-you-may-like_desktopVariantItem__1aNr1 .gifts-you-may-like_variant__Y4aoY :hover img {
    border: 2px solid #7d8035
}

.gifts-you-may-like_desktopVariantItem__1aNr1 .gifts-you-may-like_pickUpgrade__13m2Q {
    color: #555;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
    padding-top: 6px
}

.gifts-you-may-like_desktopVariantItem__1aNr1 .gifts-you-may-like_variantScroll__2SRdI {
    overflow-x: auto;
    display: -webkit-flex;
    display: -moz-box;
    display: flex
}

.gifts-you-may-like_desktopVariantItem__1aNr1 .gifts-you-may-like_variantScroll__2SRdI::-webkit-scrollbar {
    display: none
}

.gifts-you-may-like_desktopVariantItem__1aNr1 .gifts-you-may-like_variantScroll__2SRdI .gifts-you-may-like_variantItem__2R_JO .gifts-you-may-like_mobileVariantDetails__3PjRS {
    padding: 5px 0 0
}

.gifts-you-may-like_desktopVariantItem__1aNr1 .gifts-you-may-like_variantScroll__2SRdI .gifts-you-may-like_variantItem__2R_JO .gifts-you-may-like_mobileVariantDetails__3PjRS .gifts-you-may-like_variantTitle__q4BBA {
    padding: 0;
    text-align: left;
    color: #555;
    line-height: 18px;
    font-size: 13px;
    font-weight: 500;
    max-width: 153px;
    text-transform: none;
    margin-bottom: 0;
    text-overflow: unset;
    white-space: pre-wrap;
    display: -webkit-flex;
    display: -moz-box;
    display: flex
}

.gifts-you-may-like_desktopVariantItem__1aNr1 .gifts-you-may-like_variantScroll__2SRdI .gifts-you-may-like_variantItem__2R_JO .gifts-you-may-like_mobileVariantDetails__3PjRS .gifts-you-may-like_variantPrice__1oXDu {
    font-size: 13px;
    font-weight: 500;
    display: block
}

.gifts-you-may-like_desktopVariantItem__1aNr1 .gifts-you-may-like_variantScroll__2SRdI .gifts-you-may-like_variantItem__2R_JO .gifts-you-may-like_mobileVariantDetails__3PjRS .gifts-you-may-like_variantPrice__1oXDu .gifts-you-may-like_priceSymbol__8ROc1 {
    font-size: 14px;
    margin: 0;
    font-weight: 500;
    vertical-align: middle
}

.gifts-you-may-like_desktopVariantItem__1aNr1 .gifts-you-may-like_variantScroll__2SRdI .gifts-you-may-like_variantItem__2R_JO .gifts-you-may-like_desktopVariantDetails__15gZk {
    padding: 5px 0 0;
    position: relative
}

.gifts-you-may-like_desktopVariantItem__1aNr1 .gifts-you-may-like_variantScroll__2SRdI .gifts-you-may-like_variantItem__2R_JO .gifts-you-may-like_desktopVariantDetails__15gZk .gifts-you-may-like_variantTitle__q4BBA {
    padding: 0;
    text-align: left;
    color: #555;
    line-height: 18px;
    font-size: 13px;
    font-weight: 500;
    max-width: 153px;
    text-transform: none;
    margin-bottom: 0;
    text-overflow: unset;
    white-space: pre-wrap;
    display: -webkit-flex;
    display: -moz-box;
    display: flex
}

.gifts-you-may-like_desktopVariantItem__1aNr1 .gifts-you-may-like_variantScroll__2SRdI .gifts-you-may-like_variantItem__2R_JO .gifts-you-may-like_desktopVariantDetails__15gZk .gifts-you-may-like_variantPrice__1oXDu {
    font-size: 13px;
    font-weight: 500;
    display: block;
    text-align: left
}

.gifts-you-may-like_desktopVariantItem__1aNr1 .gifts-you-may-like_variantScroll__2SRdI .gifts-you-may-like_variantItem__2R_JO .gifts-you-may-like_desktopVariantDetails__15gZk .gifts-you-may-like_variantPrice__1oXDu .gifts-you-may-like_priceSymbol__8ROc1 {
    font-size: 13px;
    margin: 0;
    font-weight: 500;
    vertical-align: middle
}

.gifts-you-may-like_desktopVariantItem__1aNr1 .gifts-you-may-like_variantScroll__2SRdI .gifts-you-may-like_variantItem__2R_JO .gifts-you-may-like_desktopVariantDetails__15gZk .gifts-you-may-like_variantPrice__1oXDu .gifts-you-may-like_WebCurrency__1CchI {
    font-size: 13px;
    line-height: 17px;
    margin-right: 3px
}

.cart-buttons_fixedFooterButtons__3ZVT4 {
    width: 100%;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    height: 52px
}

.cart-buttons_fixedFooterButtons__3ZVT4 button {
    border-radius: 0;
    height: 52px;
    line-height: 52px
}

.cart-buttons_fixedFooterButtons__3ZVT4 button .cart-buttons_MuiButton-label__2R5q5 {
    line-height: inherit;
    height: 52px
}

.cart-buttons_fixedFooterButtons__3ZVT4 button.cart-buttons_formButtonSecondary__3oS5A:hover {
    background-color: #fff
}

.cart-buttons_fixedFooterButtons__3ZVT4 button.cart-buttons_formButtonPrimary__1MrQD:hover {
    background-color: #e87325
}

.cart-buttons_pdpButtons__VomiF {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    width: 100%;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between
}

button.cart-buttons_customGenericBtn__1tNYW,
button.cart-buttons_genericOrangeBtn__1yTlV {
    min-height: 44px;
    min-width: 35%;
    font-size: 12px;
    border: transparent;
    border-radius: 4px;
    padding: 8px;
    background: #f2f2f2;
    cursor: pointer;
    background: #ff9212;
    color: #fff
}

button.cart-buttons_customGenericBtn__1tNYW {
    position: relative;
    width: 100%;
    background-color: #008539;
    border: 0;
    color: #fff;
    max-height: 52px;
    min-height: 50px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    width: 48%
}

button.cart-buttons_customGenericBtn__1tNYW:hover {
    background-color: #038e3e;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1)
}

button.cart-buttons_customGenericBtn__1tNYW svg {
    vertical-align: middle
}

button.cart-buttons_genericOrangeBtn__1yTlV {
    position: relative;
    width: 100%;
    border: 0;
    max-height: 52px;
    min-height: 50px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    width: 48%
}

button.cart-buttons_genericOrangeBtn__1yTlV:hover {
    background: #f68808;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1)
}

button.cart-buttons_genericOrangeBtn__1yTlV svg {
    vertical-align: middle
}

button.cart-buttons_genericOrangeBtn__1yTlV.cart-buttons_w100__wv0ke {
    width: 100%
}

button.cart-buttons_genericOrangeBtn__1yTlV.cart-buttons_margin-top-bottom-20__Mx3Bn {
    margin: 20px 0
}

button.cart-buttons_formButtonDisabled__19rRJ,
button.cart-buttons_formButtonDisabledDesktop__N0KfY,
button.cart-buttons_formButtonPrimary__1MrQD,
button.cart-buttons_formButtonSecondary__3oS5A {
    position: relative;
    width: 100%;
    background: #e87325;
    border: 0;
    color: #fff;
    max-height: 52px;
    min-height: 50px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    text-transform: uppercase;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

button.cart-buttons_formButtonDisabled__19rRJ.cart-buttons_MuiButton-contained__OcFWl:hover,
button.cart-buttons_formButtonDisabled__19rRJ:focus,
button.cart-buttons_formButtonDisabledDesktop__N0KfY.cart-buttons_MuiButton-contained__OcFWl:hover,
button.cart-buttons_formButtonDisabledDesktop__N0KfY:focus,
button.cart-buttons_formButtonPrimary__1MrQD.cart-buttons_MuiButton-contained__OcFWl:hover,
button.cart-buttons_formButtonPrimary__1MrQD:focus,
button.cart-buttons_formButtonSecondary__3oS5A.cart-buttons_MuiButton-contained__OcFWl:hover,
button.cart-buttons_formButtonSecondary__3oS5A:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #e87325
}

button.cart-buttons_formButtonSecondary__3oS5A {
    background: #fff;
    color: #222
}

button.cart-buttons_formButtonSecondary__3oS5A.cart-buttons_MuiButton-contained__OcFWl:hover,
button.cart-buttons_formButtonSecondary__3oS5A:focus {
    background: #fff;
    color: #222;
    border: 0;
    outline: 0
}

button.cart-buttons_formButtonDisabled__19rRJ,
button.cart-buttons_formButtonDisabledDesktop__N0KfY {
    background: #d3d3d3;
    color: #fff;
    pointer-events: none
}

button.cart-buttons_formButtonDisabled__19rRJ.cart-buttons_MuiButton-contained__OcFWl:hover,
button.cart-buttons_formButtonDisabled__19rRJ:focus,
button.cart-buttons_formButtonDisabledDesktop__N0KfY.cart-buttons_MuiButton-contained__OcFWl:hover,
button.cart-buttons_formButtonDisabledDesktop__N0KfY:focus {
    background: #fff;
    color: #555;
    border: 0;
    outline: 0
}

button.cart-buttons_formButtonDisabledDesktop__N0KfY {
    width: 48% !important
}

button.cart-buttons_mt40__MIgc0 {
    margin-top: 40px
}

button.cart-buttons_mt20__2pjUU {
    margin-top: 20px
}

button.cart-buttons_MuiButton-root__He9fD.cart-buttons_Mui-disabled__3mcxz {
    color: rgba(255, 255, 255, .8);
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: rgba(243, 127, 10, .5)
}

button.cart-buttons_formButtonGreen__2aFHS {
    position: relative;
    width: 100%;
    background-color: #7d8035;
    border: 0;
    color: #fff;
    max-height: 52px;
    min-height: 50px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    width: 48%
}

button.cart-buttons_formButtonGreen__2aFHS:hover {
    background-color: #707428;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1)
}

button.cart-buttons_formButtonGreen__2aFHS svg {
    vertical-align: middle
}

button.cart-buttons_formButtonPrimaryDesktop__Mbq81 {
    background: #e87325;
    color: #fff;
    position: relative;
    width: 100%;
    border: 0;
    max-height: 52px;
    min-height: 50px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    width: 48%
}

button.cart-buttons_formButtonPrimaryDesktop__Mbq81:hover {
    background: #e87a25;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1)
}

button.cart-buttons_formButtonPrimaryDesktop__Mbq81 svg {
    vertical-align: middle
}

.skeleton_wrapper__bEuYe {
    display: inline-block;
    position: relative;
    overflow: hidden;
    background-color: #f2f2f2;
    height: 52px;
    width: 100%
}

.skeleton_wrapper__bEuYe:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, hsla(0, 0%, 100%, 0)), color-stop(90%, hsla(0, 0%, 100%, .2)), color-stop(60%, hsla(0, 0%, 100%, .5)), to(hsla(0, 0%, 100%, 0)));
    background-image: -moz-linear-gradient(left, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, .2) 90%, hsla(0, 0%, 100%, .5) 60%, hsla(0, 0%, 100%, 0));
    background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .2) 90%, hsla(0, 0%, 100%, .5) 0, hsla(0, 0%, 100%, 0));
    -webkit-animation: skeleton_shimmer__16HVk 1.5s infinite;
    -moz-animation: skeleton_shimmer__16HVk 1.5s infinite;
    animation: skeleton_shimmer__16HVk 1.5s infinite;
    content: ""
}

@-webkit-keyframes skeleton_shimmer__16HVk {
    to {
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
}

@-moz-keyframes skeleton_shimmer__16HVk {
    to {
        -moz-transform: translateX(100%);
        transform: translateX(100%)
    }
}

@keyframes skeleton_shimmer__16HVk {
    to {
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        transform: translateX(100%)
    }
}

.offers_tncHeading__3nqUg {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    -webkit-align-items: flex-end;
    -moz-box-align: end;
    align-items: flex-end;
    padding: 16px 15px 14px 24px
}

.offers_tncHeading__3nqUg .offers_tncLabel__2Dfql {
    color: #222;
    font-size: 18px;
    font-weight: 500
}

.offers_tncHeading__3nqUg .offers_closePopup__QQmPZ {
    color: #555;
    line-height: .9;
    font-size: 28px;
    font-weight: 400;
    border: none;
    background: none
}

.offers_offerContainer__HY-2m #offers-module-wrapper {
    clear: both
}

.offers_offerContainer__HY-2m .offer-header {
    padding-top: 25px;
    margin-left: 8px;
    height: 60px;
    width: 90%
}

.offers_offerContainer__HY-2m .offer-header i {
    color: #555;
    font-size: 16px;
    margin-left: 7px
}

.offers_offerContainer__HY-2m .offer-header h4 {
    padding: 0;
    color: #222;
    font-weight: 500;
    font-size: 18px;
    position: relative;
    bottom: 22px;
    left: 26px;
    margin: 0 0 0 5px
}

.offers_offerContainer__HY-2m .bank-offers {
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    width: 93%;
    margin: 0 auto
}

.offers_offerContainer__HY-2m .bank-offers table {
    width: 100%;
    border-collapse: collapse;
    color: rgba(0, 0, 0, .87);
    font-size: 14px;
    font-weight: 400;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    line-height: 20px
}

.offers_offerContainer__HY-2m .bank-offers table tr {
    border-bottom: 1px solid #d5d5d5
}

.offers_offerContainer__HY-2m .bank-offers table tr:last-child {
    border-bottom: none
}

.offers_offerContainer__HY-2m .bank-offers table tr td {
    padding: 8px 10px 8px 0
}

.offers_offerContainer__HY-2m .bank-offers table tr td:first-child img {
    width: 100px;
    max-width: 100px;
    padding-left: 12px
}

.offers_offerContainer__HY-2m .bank-offers table tr td .tnc {
    position: relative
}

.offers_offerContainer__HY-2m .bank-offers table tr td .tnc .tnc-txt {
    color: #2178cf;
    cursor: pointer
}

.offers_offerContainer__HY-2m .bank-offers table tr td .tnc .tnc-popup {
    display: none
}

.offers_offerContainer__HY-2m .paytm-access-popup-content .highlight {
    font-size: 16px;
    color: #121312;
    font-weight: 500;
    width: 100%;
    text-align: center;
    display: block
}

.offers_offerContainer__HY-2m .paytm--btn {
    text-align: center;
    padding: 10px;
    width: 35%;
    background-color: #ff7f00;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    border-radius: 5px
}

.offers_offerContainer__HY-2m .paytm--btn.allow-btn {
    background-color: #049004;
    margin: 20px 40px 0 20px
}

.offers_offerContainer__HY-2m .paytm--btn.deny-button {
    background-color: #fff;
    margin: 20px 0 0 20px;
    color: #bfb5b5;
    border: 1px solid #c1b4b4
}

.offers_offerContainer__HY-2m .paytm--btnwrapper {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-align-content: center;
    align-content: center;
    width: 100%;
    letter-spacing: 1px
}

.offers_desktopOfferContainer__1E9_O #offers-module-wrapper .offer-header {
    width: 100%;
    margin-left: 0
}

.offers_desktopOfferContainer__1E9_O #offers-module-wrapper .bank-offers {
    width: 100%
}

.offers_desktopOfferContainer__1E9_O #offers-module-wrapper .bank-offers table {
    background: none;
    border: none;
    margin-bottom: 0
}

.offers_desktopOfferContainer__1E9_O #offers-module-wrapper .bank-offers table tr td:first-child {
    width: 100px
}

.offers_desktopOfferContainer__1E9_O #offers-module-wrapper .bank-offers table tr td:first-child img {
    width: 100%
}

.offers_desktopOfferContainer__1E9_O #offers-module-wrapper .bank-offers table tr td span {
    color: #222;
    font-size: 12px;
    padding: .5625rem .625rem;
    text-align: left
}

.offers_desktopOfferContainer__1E9_O #offers-module-wrapper .bank-offers table tr td .tnc-txt,
.offers_desktopOfferContainer__1E9_O #offers-module-wrapper .bank-offers table tr td span.blue-text {
    color: #2178cf;
    cursor: pointer;
    position: relative;
    right: -30px
}

.offers_desktopOfferContainer__1E9_O #offers-module-wrapper .bank-offers .offer-tnc-popup {
    top: 30px;
    z-index: 1
}

.offers_desktopOfferContainer__1E9_O #offers-module-wrapper .offer-tnc {
    position: relative
}

.offers_desktopOfferContainer__1E9_O #offers-module-wrapper .offer-tnc-popup {
    display: none;
    position: absolute;
    width: 440px;
    max-height: 200px;
    right: -4px;
    top: 20px;
    z-index: 9999;
    background: #fff;
    border: 1px solid #d5d5d5;
    -webkit-box-shadow: 0 0 10px #d5d5d5;
    box-shadow: 0 0 10px #d5d5d5;
    border-radius: 5px
}

.offers_desktopOfferContainer__1E9_O #offers-module-wrapper .offer-tnc-popup:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #d5d5d5;
    position: absolute;
    top: -13px;
    right: 13px
}

.offers_desktopOfferContainer__1E9_O #offers-module-wrapper .offer-tnc-popup:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #fff;
    position: absolute;
    top: -11px;
    right: 13px
}

.offers_desktopOfferContainer__1E9_O #offers-module-wrapper .offer-tnc-popup .close-tnc {
    position: absolute;
    right: 12px;
    top: 8px;
    font-size: 20px;
    cursor: pointer;
    color: #555
}

.offers_desktopOfferContainer__1E9_O #offers-module-wrapper .offer-tnc-popup .offer-tnc-head {
    border-bottom: 1px solid #d5d5d5;
    font-weight: 500;
    font-size: 16px;
    padding: 10px
}

.offers_desktopOfferContainer__1E9_O #offers-module-wrapper .offer-tnc-popup .offer-terms {
    padding: 10px;
    height: 140px;
    overflow-y: auto;
    -ms-overflow-style: scrollbar
}

.offers_desktopOfferContainer__1E9_O #offers-module-wrapper .offer-tnc-popup ul li {
    margin-left: 20px;
    line-height: 1.4;
    font-size: 12px;
    position: relative;
    color: #222;
    font-weight: 400
}

.offers_desktopOfferContainer__1E9_O #offers-module-wrapper .offer-tnc-popup ul li:after {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 5px;
    position: absolute;
    background: #222;
    top: 5px;
    left: -10px
}

/*# sourceMappingURL=8243.css.map*/